@import url("variables.css");

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
}

.logo {
  width: 270px;
}

.icon {
  width: 10px;
  height: auto;
  margin-top: 2px;
}

.icon_larger {
  width: 14px;
  height: auto;
}

.top_links,
.middle_links,
.bottom_links,
.advertisement_layout {
  overflow: hidden;
}

.top_nav .navbar a {
  color: var(--black);
}

.top_nav .line {
  width: 1px;
  height: 14px;
  border: 1px solid var(--light-gray);
}

.search_bar {
  width: 782px;
  border: 2px solid var(--light-gray);
}

.search_bar form {
  height: 45px;
}

.search_bar form .search_text {
  display: flex;
  margin-left: 25px;
  gap: 25px;
}

.search_bar form .search_text .line {
  width: 1px;
  height: 15px;
  border: 1px solid var(--light-gray);
  margin: 0 20px;
}

.search_bar form .select_type {
  display: flex;
  align-items: center;
  gap: 25px;
}

.search_bar i {
  width: 10px;
  color: var(--gray);
}

.search_bar form .form_btn {
  width: 110px;
  height: 100%;
}

.search_bar form button {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  height: 100%;
  width: 100%;
}

.account {
  gap: 24px;
  height: 45px;

  & .icon {
    width: 24px;
    height: auto;
  }

  & .wishlist,
  .cart {
    position: relative;
  }

  & .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 12.5px;
    font-weight: 600;
    border-radius: 50%;
    background-color: var(--red);
    color: var(--white);
    width: 18px;
    height: 18px;
    position: absolute;
    top: -6px;
    right: -8px;
  }
}

.account_mobile {
  display: none;
  float: right;
  align-items: center;
  justify-content: center;
  height: 45px;

  & object {
    height: 23px;
    width: auto;
  }
}

.bottom_links .wrapper {
  height: 25px;
}

.bottom_links .wrapper .line {
  width: 1px;
  height: 19px;
  border: 1px solid var(--light-gray);
}

.cat_list {
  gap: 30px;
  margin-left: 30px;
  height: 25px;

  & .cat,
  .contact,
  .event {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
  }
}

.bottom_links .event {
  color: var(--red);
}

.bottom_links .sale {
  height: 25px;
}

/* body styles */
.body {
  margin-top: 30px;
}

.body_advertisement {
  padding: 30px 0 60px 0;
}

.advertisement_layout {
  max-height: 490px;
  grid-template-columns: auto 1fr;
}

.menu_left {
  width: 270px;
  height: 490px;
  padding: 30px;
  flex-flow: column wrap;

  & .line {
    height: 1px;
    border: 1px solid var(--light-gray);
  }

  & div {
    width: 100%;
    flex: 1 1 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & div + div {
    border-top: 1.6px solid var(--light-gray);
  }

  & .menu_item_bold {
    font-weight: 600;
  }

  & .menu_item_select {
    & p {
      width: 100%;
    }
    & .icon {
      height: 12px;
      width: auto;
      fill: var(--gray-body-text-2);
    }
  }
}

.advertisement_right {
  width: 100%;
  height: 490px;
  grid-template-rows: 325px auto;
}

.top_slider {
  grid-row: 1;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  & img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.bottom_banners {
  grid-row: 2;
  grid-template-columns: repeat(3, 1fr);
  & .bottom_banner {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    & img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    & .banner_content {
      position: absolute;
      left: 30px;
      height: 100%;
      max-width: 50%;
      display: flex;
      align-items: center;
      & .content {
        max-height: 90px;
        height: 100%;
      }
      & h3 {
        font-size: 18px;
        line-height: 23px;
        font-weight: 600;
      }
      & p {
        font-size: 14px;
        line-height: 17.5px;
        font-weight: 500;
      }
    }
  }
}

.prev_col, .next_col, .content_col {
  position: absolute;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  & .btn_prev, .btn_next {
    background-color: var(--fade-white);
    width: 50px;
    height: 50px;
  }
}

.next_col {
  right: 0;
}

.content_col {
  left: 20%;
  & .slide_content {
    max-width: 327px;
    max-height: 193px;
  }
}


.slide_content h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.03em;
  & u {
    color: var(--green);
  }
}

.slide_content button {
  width: 151.87px;
  height: 45px;
  padding: 10px;
  border-radius: 30px;
}

.body_products {
  padding-bottom: 60px;
  background-color: var(--backgroud);
}

.products_layout {
  max-height: 751px;
  height: 100%;
  width: 100%;
  grid-template-areas:
    "top_left top_near_left special special top_near_right top_right"
    "bottom_left bottom_near_left special special bottom_near_right bottom_right";
}

#top_left {
  grid-area: top_left;
}
#top_near_left {
  grid-area: top_near_left;
}
#top_near_right {
  grid-area: top_near_right;
}
#top_right {
  grid-area: top_right;
}
#bottom_left {
  grid-area: bottom_left;
}
#bottom_near_left {
  grid-area: bottom_near_left;
}
#bottom_near_right {
  grid-area: bottom_near_right;
}
#bottom_right {
  grid-area: bottom_right;
}

.product {
  max-width: 231px;
  max-height: 373px;
}

.product_img {
  max-width: 191px;
  height: auto;
  position: relative;
}

.label_sale {
  height: 25px;
  width: 55px;
  position: absolute;
  top: 0;
}

.product_text {
  margin-top: 16px;
}

.rate {
  margin-top: 16px;
}

.price {
  margin-top: 4px;
}

.special_offer {
  grid-area: special;
  max-width: 466px;
  max-height: 751px;
  padding: 40px;
}

.special_img {
  max-width: 386px;
  position: relative;
}

.label_gift {
  position: absolute;
  right: 0;
  top: 0;
}

.countdown_box {
  padding: 7px 15px;
  width: 45px;
  height: 50px;
}

.progress_bar {
  height: 5px;
  background-color: var(--light-gray-2);
  border-radius: 10px;
}

.sold_out {
  width: 85%;
  border-radius: 10px 0 0 10px;
}

/* footer styles */
.infor_box p {
  margin-bottom: 7px;
}

.infor_box h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  margin-bottom: 20px;
  color: var(--blue);
}

.infor_box .infor_address {
  max-width: 375px;
}

.input_email {
  margin: 0 20px;
}

.email_box {
  max-width: 300px;
}

.email_button {
  max-width: 140px;
}

.footer .copyright {
  height: 30px;
  margin: 30px auto;
}

.footer .copyright span {
  color: var(--blue);
  font-weight: 600;
}

.footer .method {
  cursor: pointer;
  width: 51px;
  height: 30px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--light-gray);
}

.footer .method .item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .method img {
  width: 100%;
  height: auto;
  position: absolute;
}

/* responsive */
@media only screen and (max-width: 1410px) {
  .footer_layout {
    gap: 10px;
    padding: 30px;
  }
  .search_bar {
    width: 100%;
  }
  .select_type {
    width: 175px;
  }
  .middle_links .wrapper {
    gap: 20px;
  }
  .logo {
    width: 100%;
  }
  .cat_list {
    gap: 20px;
    margin-left: 20px;
  }
  .cat_list .cat {
    width: 100%;
  }
  .body_top .menu {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: auto;
  }
  .menu_left {
    width: 100%;
  }
  .slider,
  .advertisement #banner1,
  .advertisement #banner2,
  .advertisement #banner3 {
    width: 100%;
    background-size: cover;
  }
  .slide img {
    height: 100%;
  }
  .infor_box h2 {
    font-size: 20px;
    line-height: 23px;
  }
  .footer_form {
    display: block;
  }
  .footer_form button {
    margin-top: 10px;
  }
  .footer .description {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .advertisement_layout {
    gap: 10px;
  }
  .menu_left {
    padding: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .top_nav .navbar {
    gap: 10px;
  }
  .wishlist,
  .user_cart {
    display: none;
  }
  .bottom_links .wrapper .line {
    display: none;
  }
  .bottom_links .event,
  .contact {
    display: none !important;
  }
  .cat_list .cat {
    gap: 0px;
  }
  .advertisement_layout {
    gap: 5px;
  }
  .top_slider .prev_col {
    padding-left: 10px;
  }
  .top_slider .next_col {
    padding-right: 10px;
  }
  .bottom_banners .bottom_banner .content h3 {
    font-size: 16px;
    line-height: 16px;
  }
  .bottom_banners .bottom_banner .content p {
    font-size: 12px;
    line-height: 14px;
  }
  .footer_layout {
    gap: 5px;
    padding: 20px;
  }
  .bottom_links .browse_cats {
    margin-left: 0 !important;
  }
  .bottom_links .cat_list {
    gap: 5px;
    margin-left: 15px;
  }
  .body_bottom .product {
    padding: 10px;
    min-width: 146px;
  }
  .body_bottom .special_offer {
    padding: 20px;
    width: 100%;
  }
  .body_bottom {
    height: 100%;
  }
  .footer .last_box {
    max-width: 300px;
    height: auto;
  }
  .footer .last_box form {
    max-width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .top_links {
    display: none;
  }
  .middle_links .account,
  .search_bar {
    display: none;
  }
  .account_mobile {
    display: flex;
  }
  .menu_left {
    display: none;
  }
  .advertisement_layout {
    display: flex;
  }
}
